html,
body {
  /* added only to support dark-reader not replacing the css */
  background-color: rgba(0, 0, 0, 0);
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 40px;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(146, 135, 135, 0.15);
  width: 150px;
  height: 150px;
  margin: .2em;
  cursor: pointer;
  position: relative;
}

.flex-item:hover {
  background-color: rgba(146, 135, 135, 0.4);
}

.time {
  color: rgba(255, 255, 255, 1);
  margin: 10px auto 0 auto;
  text-align: center;
  width: 300px;
  font-size: 4em;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  opacity: 0.7;
  cursor: default;
}

@media (max-width: 960px) {
  .flex-item {
    width: 120px;
    height: 120px;
    margin: .1em;
  }

  .flex-container {
    gap: 5px;
  }
}

@media (max-width: 544px) {
  .flex-item {
    width: 90px;
    height: 90px;
    margin: .1em;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-4px);
  }
  60% {
    transform: translateY(-2px);
  }
}

.bounce {
  animation: bounce 1s infinite;
}
